# Global Risk Modeling (v2. under construction)

Goal: Rebuild original geopolitical instability model

Improvements:
1) Extract Data from text and clean
2) Use mySQL to store cleared data
4) Implement feature engineering to model interaction of variables
5) Leverage Pytorch to better predict instability
6) Improve mapping using GeoPandas

Notes: 
1) I would like to retain gini coefficient (high priority)
2) You only have data from 2020-2018, get rest of files from CIA WFB ad FSI

In future I would like to retain gini coefficient

In [43]:
#pip install cairosvg
#pip install cffi #cairocff
#pip install -i https://pypi.anaconda.org/t/$TOKEN/rmg/simple cairocffi

SyntaxError: invalid syntax (Temp/ipykernel_8692/3035467704.py, line 1)

In [2]:
# import necessary libraries
import pandas as pd
from string import digits
import numpy as np
from numpy import absolute
from pandas import read_csv

# Needed for text screening 
import glob
import os

#import matplotlib.pyplot as plt

#import cairosvg

# useful

#pd.set_option('display.max_colwidth', None)
#pd.set_option('display.max_columns', None)

1) Extracting Data: The CIA archives its data from 2020 to 2000 in the form of text documents. To access this data the text documents need to be stripped of extraneous characters and formatted as dataframes.

In [3]:
# making a template for dataframe
t = pd.read_table("C:\\Users\\Ian\\Desktop\\MSQE\\Global Risk Modeling\\WFB Arch\\2020\\rawdata_196.txt")

for i in t:
    t[i] = t[i].str.lstrip(digits)
    t["name"] = t[i].str[:50].str.strip()

    tem = t["name"]   
tem = pd.DataFrame(tem)
tem
#tem.set_index("name", inplace=True)
# creates a dataframe with country names as a template for merging

                                  name
0                                China
1                        United States
2                                Japan
3                               France
4                              Germany
..                                 ...
220                           Kiribati
221  Congo, Democratic Republic of the
222                             Guinea
223                      Guinea-Bissau
224                        South Sudan

[225 rows x 1 columns]

In [4]:
######################## Creating temporary dataframes for 2018-2020 ###################################
# Note: You need to integrate the text processing to remove the non-numeric characters

# Creating a function to clean and organize the text data into dataframes
def clean_txt(year,template): # you can store all of these in a dictionry of dataframes: dfs = {}
    path = "C:\\Users\\Ian\\Desktop\\MSQE\\Global Risk Modeling\\WFB Arch\\{}".format(year) # path to files, can change year **** Make this able to itterate across all years in WFB Arch file 
    txt_files = glob.glob(os.path.join(path, "*.txt"))
    tem2 = template
    for f in txt_files:
        test = pd.read_table(f)
        for i in test:
            test[i] = test[i].str.lstrip(digits) # gets rid of rank
            test["name"] = test[i].str[:50].str.strip()     # creates name 
            test[test.columns[0]] = test[i].str[50:]
        tem2 = pd.merge(tem2,test, on = "name", how = "outer")
    temp = tem2.iloc[:200,:]
    return temp


tem_2020 = clean_txt(2020, tem)
tem_2019 = clean_txt(2019, tem)
tem_2018 = clean_txt(2018, tem)

In [5]:
# CIA Data from 2017 onwards is in txt format but is not labed in the txt file, can't use clean_text() function in current form 
# tem_2017 = clean_txt(2017, tem)
# There appears to be a standard pattern to the file order accross years, if you can match order with columns from 2018 then you can create column names automatically
#

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 5)
tem_2018

,name,Country Comparison :: Telephones - fixed lines,Country Comparison :: Telephones - mobile cellular,Country Comparison :: Internet users,Country Comparison :: Broadband - fixed subscriptions,Country Comparison :: GDP (purchasing power parity),Country Comparison :: GDP - real growth rate,Country Comparison :: GDP - per capita (PPP),Country Comparison :: Gross national saving,Country Comparison :: Industrial production growth rate,Country Comparison :: Labor force,Country Comparison :: Unemployment rate,Country Comparison :: Distribution of family income - Gini index,Country Comparison :: Taxes and other revenues,Country Comparison :: Budget surplus (+) or deficit (-),Country Comparison :: Public debt,Country Comparison :: Inflation rate (consumer prices),Country Comparison :: Central bank discount rate,Country Comparison :: Commercial bank prime lending rate,Country Comparison :: Stock of narrow money,Country Comparison :: Stock of broad money,Country Comparison :: Stock of domestic credit,Country Comparison :: Market value of publicly traded shares,Country Comparison :: Current account balance,Country Comparison :: Exports,Country Comparison :: Imports,Country Comparison :: Reserves of foreign exchange and gold,Country Comparison :: Debt - external,Country Comparison :: Stock of direct foreign investment - at home,Country Comparison :: Stock of direct foreign investment - abroad,Country Comparison :: Electricity - production,Country Comparison :: Electricity - consumption,Country Comparison :: Electricity - exports,Country Comparison :: Electricity - imports,Country Comparison :: Electricity - installed generating capacity,Country Comparison :: Electricity - from fossil fuels,Country Comparison :: Electricity - from nuclear fuels,Country Comparison :: Electricity - from hydroelectric plants,Country Comparison :: Electricity - from other renewable sources,Country Comparison :: Crude oil - production,Country Comparison :: Crude oil - exports,Country Comparison :: Crude oil - imports,Country Comparison :: Crude oil - proved reserves,Country Comparison :: Refined petroleum products - production,Country Comparison :: Refined petroleum products - consumption,Country Comparison :: Refined petroleum products - exports,Country Comparison :: Refined petroleum products - imports,Country Comparison :: Natural gas - production,Country Comparison :: Natural gas - consumption,Country Comparison :: Natural gas - exports,Country Comparison :: Natural gas - imports,Country Comparison :: Natural gas - proved reserves,Country Comparison :: Carbon dioxide emissions from consumption of energy,Country Comparison :: Area,Country Comparison :: Military expenditures,Country Comparison :: Population,Country Comparison :: Median age,Country Comparison :: Population growth rate,Country Comparison :: Birth rate,Country Comparison :: Death rate,Country Comparison :: Net migration rate,Country Comparison :: Maternal mortality rate,Country Comparison :: Infant mortality rate,Country Comparison :: Life expectancy at birth,Country Comparison :: Total fertility rate,Country Comparison :: Health expenditures,Country Comparison :: HIV/AIDS - adult prevalence rate,Country Comparison :: HIV/AIDS - people living with HIV/AIDS,Country Comparison :: HIV/AIDS - deaths,Country Comparison :: Obesity - adult prevalence rate,Country Comparison :: Children under the age of 5 years underweight,Country Comparison :: Education expenditures,"Country Comparison :: Unemployment, youth ages 15-24",Country Comparison :: Airports,Country Comparison :: Railways,Country Comparison :: Roadways,Country Comparison :: Waterways,Country Comparison :: Merchant marine
0,Afghanistan,"118,769 2017 est.","23,929,713 2017 est.","3,531,770 July 2016 est.","16,810 2017 est.","$69,450,000,000 2017 est.",2.70 2017 est.,"$2,000 2017 est.",22.70 2017 est.,-1.90 2016 est.,"8,478,000 2017 est.",23.90 2017 est.,29.4 2008,11.2 2017 est.,-15.10 2017 est.,7.00 2017 est.,5.00 2017 est.,NaN,15.00 31 December ...,"$6,644,000,000 31 December ...","$6,945,000,000 31 December ...","-$240,600,000 31 December 2...",NaN,"$1,014,000,000 2017 est.","$784,000,000 2017 est.","$7,616,000,000 2017 est.","$7,187,000,000 31 December ...","$2,840,000,000 FY/",NaN,NaN,"1,211,000,000 2016 est.","5,526,000,000 2016 est.",0 2016 est.,"4,400,000,000 2016 est.","634,100.00 2016 est.",45.0 2016 est.,0.0 2017 est.,52.0 2017 est.,4.0 2017 est.,0 2017 est.,0 2015 est.,0 2015 est.,0 1 January 20...,0 2015 est.,"35,000 2016 est.",0 2015 est.,"34,210 2015 est.","164,200,000 2017 est.","164,200,000 2017 est.",0 2017 est.,0 2017 est.,"49,550,000,000 1 January 20...","9,067,000.00 2017 est.","652,230.00",0.89 2016,"34,940,837 July 2018 est.",19.0,2.37 2018 est.,37.50 2018 est.,13.20 2018 est.,-0.90 2017 est.,396 2015 est.,108.50 2018 est.,52.10 2018 est.,5.02 2018 est.,8.20 2014,NaN,"7,500 2016 est.",NaN,5.50 2016,25.00 2013,3.20 2015,NaN,43 2016,NaN,"42,150 2006","1,200 2011",NaN
1,Akrotiri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 2017,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,Saint Lucia,"35,014 2017 est.","176,694 2017 est.","86,000 July 2016 est.","31,781 2017 est.","$2,542,000,000 2017 est.",3.00 2017 est.,"$14,400 2017 est.",19.40 2017 est.,6.00 2017 est.,"79,700 2012 est.",20.00 2003 est.,NaN,23.6 2017 est.,0.30 2017 est.,70.70 2017 est.,0.10 2017 est.,6.50 31 December ...,8.34 31 December 2...,"$334,200,000 31 December 2...","$334,200,000 31 December 2...","$1,267,000,000 31 December 2...",NaN,"$21,000,000 2017 est.","$185,100,000 2017 est.","$600,000,000 2017 est.","$321,800,000 31 December 2...","$570,600,000 31 December 2...",NaN,NaN,"369,000,000 2016 est.","343,200,000 2016 est.",0 2016 est.,0 2016 est.,"89,000.00 2016 est.",99.0 2016 est.,0.0 2017 est.,0.0 2017 est.,1.0 2017 est.,0 2017 est.,0 2015 est.,0 2015 est.,0 1 January 201...,0 2015 est.,"3,100 2016 est.",0 2015 est.,"3,113 2015 est.",0 2017 est.,0 2017 est.,0 2017 est.,0 2017 est.,0 1 January 201...,"437,900.00 2017 est.",616.00,NaN,"165,510 July 2018 est.",35.5,0.31 2018 est.,13.10 2018 est.,7.80 2018 est.,-2.50 2017 est.,48 2015 est.,10.60 2018 est.,78.10 2018 est.,1.74 2018 est.,6.70 2014,NaN,NaN,NaN,19.70 2016,2.80 2012,5.70 2016,46.2 2016 est.,2 2013,NaN,"1,210 2011",NaN,NaN
199,Saint Martin,NaN,NaN,"1,100 July 2016 est.",NaN,"$561,500,000 2005 est.",NaN,"$19,300 2005 est.",NaN,NaN,"17,300",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.40,NaN,"32,284 July 2018 est.",32.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 2013,NaN,NaN,NaN,NaN

Instructions from CIA WFB:

"Format: The 2020 and earlier versions have been compressed in .Zip format; when uncompressed they are in standard HTML format.

How to use the compressed versions of the publication: The files named index.htm and index.html open the publication’s home page. Navigate to the index file in the folder or directory you created using a file manager, such as Windows Explorer, then double-click it to open and begin using the publication."

In [ ]:
#

In [ ]:
####################################### Combine .csv files for 2021-2023 ##################################################

In [127]:
# getting text files for 2020

for f in txt_files_2020:
    test = pd.read_table(f)
    for i in test:
        test[i] = test[i].str.lstrip(digits) # gets rid of rank
        test["name"] = test[i].str[:50].str.strip()     # creates name 
        test[test.columns[0]] = test[i].str[50:]
    tem_2020 = pd.merge(tem_2020,test, on = "name", how = "outer")
tem_2020 = tem_2020.iloc[:200,:] 


tem_2020


#tem_2020["Country Comparison :: GDP real growth rate"] = tem_2020["Country Comparison :: GDP real growth rate"].str[:-9]

# [:,5:18]
att=tem_2020.iloc[:,5:18]
for (name, data) in att.iteritems():
    att[name] = data.str[:-9]
    att[name] = data.str.strip('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz .')
    att[name]= (data.replace( '[\$,)]','', regex=True )
               .replace( '[(]','-',   regex=True ).astype(float))
    
tem_2020.iloc[:,5:18] = att

# [:,20:32]
att=tem_2020.iloc[:,20:32]
for (name, data) in att.iteritems():
    att[name] = data.str[:-9]
    att[name] = data.str.strip('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz .')
    att[name]= (data.replace( '[\$,)]','', regex=True )
               .replace( '[(]','-',   regex=True ).astype(float))
    
tem_2020.iloc[:,20:32] = att

# [:, 33:41]
att=tem_2020.iloc[:, 33:41]
for (name, data) in att.iteritems():
    att[name] = data.str[:-9]
    att[name] = data.str.strip('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz .')
    att[name]= (data.replace( '[\$,)]','', regex=True )
               .replace( '[(]','-',   regex=True ).astype(float))
    
tem_2020.iloc[:, 33:41] = att

# [:, 47:52]
att=tem_2020.iloc[:, 47:52]
for (name, data) in att.iteritems():
    att[name] = data.str[:-9]
    att[name] = data.str.strip('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz .')
    att[name]= (data.replace( '[\$,)]','', regex=True )
               .replace( '[(]','-',   regex=True ).astype(float))
    
tem_2020.iloc[:, 47:52] = att

# [:, 54:58]
att=tem_2020.iloc[:, 54:58]
for (name, data) in att.iteritems():
    att[name] = data.str[:-9]
    att[name] = data.str.strip('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz .')
    att[name]= (data.replace( '[\$,)]','', regex=True )
               .replace( '[(]','-',   regex=True ).astype(float))
    
tem_2020.iloc[:, 54:58] = att

# Country Comparison :: Carbon dioxide emissions from consumption of energy
tem_2020["Country Comparison :: Carbon dioxide emissions from consumption of energy"] = tem_2020["Country Comparison :: Carbon dioxide emissions from consumption of energy"].str[:-9]

# [:, 18:20]
att=tem_2020.iloc[:, 18:20]
for (name, data) in att.iteritems():
    att[name] = data.str[:-9]
    att[name] = data.str.strip('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz .$')
    att[name] = data.str[:-2]
#    att[name]= (data.replace( '[\$,)]','', regex=True )
#               .replace( '[(]','-',   regex=True ).astype(float))
tem_2020.iloc[:, 18:20] = att



# "Country Comparison :: Crude oil - proved reserves"
tem_2020["Country Comparison :: Crude oil - proved reserves"] = tem_2020["Country Comparison :: Crude oil - proved reserves"].str[:-17]

tem_2020

# "Country Comparison :: Population"
tem_2020["Country Comparison :: Population"] = tem_2020["Country Comparison :: Population"].str[:-18]

# Country Comparison :: Natural gas - proved reserve
tem_2020["Country Comparison :: Natural gas - proved reserves"] = tem_2020["Country Comparison :: Natural gas - proved reserves"].str[:-14]

# Country Comparison :: Roadways
tem_2020["Country Comparison :: Roadways"] = tem_2020["Country Comparison :: Roadways"].str[:-6]

# Ugly fix for Somalia "800" (note this missassignes a gdp per capita to a country thtat is later dropped)
tem_2020["Country Comparison :: GDP - per capita (PPP)"].fillna(value =800, inplace = True)

# Creating GDP
tem_2020["Country Comparison :: Population"] = tem_2020["Country Comparison :: Population"].replace( '[\$,)]','', regex=True ).replace( '[(]','-',   regex=True ).astype(float)
tem_2020["Country Comparison :: GDP (purchasing power parity)"]= tem_2020["Country Comparison :: GDP - per capita (PPP)"]* tem_2020["Country Comparison :: Population"]

# Country Comparison :: Natural gas - proved reserves
tem_2020["Country Comparison :: Natural gas - proved reserves"] = tem_2020["Country Comparison :: Natural gas - proved reserves"].str[:-6]

# Fixing "Country Comparison :: Median age"
tem_2020["Country Comparison :: Median age"] = tem_2020["Country Comparison :: Median age"].str.strip('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz .$')

# Fixing Country Comparison :: Obesity - adult prevalence rate
tem_2020["Country Comparison :: Obesity - adult prevalence rate"] = tem_2020["Country Comparison :: Obesity - adult prevalence rate"].str[:-4]

# Fixing Country Comparison :: Waterways
tem_2020["Country Comparison :: Waterways"] = tem_2020["Country Comparison :: Waterways"].str[:-4]

# Country Comparison :: Airports has date at end 2020
tem_2020["Country Comparison :: Airports"] = tem_2020["Country Comparison :: Airports"].str[:-4]

# Country Comparison :: Railways has date at end 2020
tem_2020["Country Comparison :: Railways"] = tem_2020["Country Comparison :: Railways"].str[:-4]


# fragility index 2020
frag_2020 = pd.read_csv("C:\\Users\\Ian\\Desktop\\MSQE\\Global Risk Modeling\\fsi-2020.csv") #,encoding = 'latin1'
frag_2020 = frag_2020[["Country","Year","Total"]]
frag_2020 = frag_2020.iloc[0:200,:]
frag_2020 = frag_2020.dropna()
frag_2020 = pd.DataFrame(frag_2020)
frag_2020 = frag_2020.rename(columns={"Country":"name"})

# No Roads
tem_2020.iloc[85,64] = 17400
tem_2020.iloc[65,64] = 1000

#dataframe 
df_2020 = pd.merge(frag_2020,tem_2020,on=["name"], how='inner')

df_2020 = df_2020.rename(columns={"Total":"Instability_Num"})

# fragility index 2020
frag_2020 = pd.read_csv("C:\\Users\\Ian\\Desktop\\Global Risk Modeling\\fsi-2020.csv") #,encoding = 'latin1'
frag_2020 = frag_2020[["Country","Year","Total"]]
frag_2020 = frag_2020.iloc[0:200,:]
frag_2020 = frag_2020.dropna()
frag_2020 = pd.DataFrame(frag_2020)
frag_2020 = frag_2020.rename(columns={"Country":"name"})

# No Roads
tem_2020.iloc[85,64] = 17400
tem_2020.iloc[65,64] = 1000

#dataframe 
df_2020 = pd.merge(frag_2020,tem_2020,on=["name"], how='inner')

df_2020 = df_2020.rename(columns={"Total":"Instability_Num"})

In [ ]:
#

In [128]:
# getting text files for 2019
################ This has 10 extra columns on financials #########################################
pd.set_option('display.max_columns', None)
path = "C:\\Users\\Ian\\Desktop\\Global Risk Modeling\\WFB Arch\\2019"
txt_files_2019 = glob.glob(os.path.join(path, "*.txt"))
tem_2019 = tem

# loop over the list of csv files
for f in txt_files_2019:
    test = pd.read_table(f)
    for i in test:
        test[i] = test[i].str.lstrip(digits) # gets rid of rank
        test["name"] = test[i].str[:50].str.strip()     # creates name 
        test[test.columns[0]] = test[i].str[50:]
    tem_2019 = pd.merge(tem_2019,test, on = "name", how = "outer")
tem_2019 = tem_2019.iloc[:200,:] 





# 2019 data processing 


# Remove letters
att=tem_2019.iloc[:,1:]
for (name, data) in att.iteritems():
    att[name] = data.str.strip('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz .$')   
tem_2019.iloc[:,1:] = att

# Remove dates [:,5:52]
att=tem_2019.iloc[:,5:52]
for (name, data) in att.iteritems():
    att[name] = data.str[:-5]
    att[name] = data.str.strip('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz .')
tem_2019.iloc[:,5:52] = att

# Remove dates [:,17:22]
att=tem_2019.iloc[:,17:22]
for (name, data) in att.iteritems():
    att[name] = data.str[:-2]   
tem_2019.iloc[:,17:22] = att

# "Country Comparison :: Market value of publicly traded shares"
tem_2019.iloc[1:,22] = tem_2019.iloc[1:,22].str[:-3]

# Remove dates [:,26:30]
att=tem_2019.iloc[:,26:30]
for (name, data) in att.iteritems():
    att[name] = data.str[:-5]   
tem_2019.iloc[:,26:30] = att

# 42 : "Country Comparison :: Crude oil - proved reserves"
tem_2019["Country Comparison :: Crude oil - proved reserves"] = tem_2019["Country Comparison :: Crude oil - proved reserves"].str[:-1]

# 51 : "Country Comparison :: Natural gas - proved reserves"
tem_2019["Country Comparison :: Natural gas - proved reserves"] = tem_2019["Country Comparison :: Natural gas - proved reserves"].str[:-1]

# 52 : Country Comparison :: Carbon dioxide emissions from consumption of energy
tem_2019["Country Comparison :: Carbon dioxide emissions from consumption of energy"] = tem_2019["Country Comparison :: Carbon dioxide emissions from consumption of energy"].str[:-4]

# Fix Afganistan
tem_2019.iloc[132,1] = tem_2019.iloc[132,1][:-5].strip()
    
# Remove Dates [:,54:70]
att=tem_2019.iloc[:,54:71]
for (name, data) in att.iteritems():
    att[name] = data.str[:-4]
    att[name] = data.str.strip('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz .')
tem_2019.iloc[:,54:71] = att

# Remove Dates [:,73:76]
att=tem_2019.iloc[:,73:76]
for (name, data) in att.iteritems():
    att[name] = data.str[:-4]
tem_2019.iloc[:,73:76] = att

# Remove Date "Country Comparison :: Airports"
tem_2019["Country Comparison :: Airports"] = tem_2019["Country Comparison :: Airports"].str[:-4]

# GDP as float
tem_2019.rename(columns= {"Country Comparison :: GDP - real growth rate":"Country Comparison :: GDP real growth rate"}, inplace = True)

# # Creating GDP
tem_2019["Country Comparison :: Population"] = tem_2019["Country Comparison :: Population"].replace( '[\$,)]','', regex=True ).replace( '[(]','-',   regex=True ).astype(float)
tem_2019["Country Comparison :: GDP - per capita (PPP)"] = tem_2019["Country Comparison :: GDP - per capita (PPP)"].replace( '[\$,)]','', regex=True ).replace( '[(]','-',   regex=True ).astype(float)
tem_2019["Country Comparison :: GDP (purchasing power parity)"]= tem_2019["Country Comparison :: GDP - per capita (PPP)"]* tem_2019["Country Comparison :: Population"]

# Ugly fix for Somalia "800" (note this missassignes a gdp per capita to a country thtat is later dropped)
tem_2019["Country Comparison :: GDP - per capita (PPP)"].fillna(value =800, inplace = True)

# fragility index 2019
frag_2019 = pd.read_csv("C:\\Users\\Ian\\Desktop\\Global Risk Modeling\\fsi-2019.csv") #,encoding = 'latin1'
frag_2019 = frag_2019[["Country","Year","Total"]]
frag_2019 = frag_2019.iloc[0:200,:]
frag_2019 = frag_2019.dropna()
frag_2019 = pd.DataFrame(frag_2019)
frag_2019 = frag_2019.rename(columns={"Country":"name"})

# No Roads
tem_2019.iloc[85,74] = 17400
tem_2019.iloc[65,74] = 1000

#Merger
df_2019 = pd.merge(frag_2019,tem_2019,on=["name"], how='inner')

df_2019 = df_2019.rename(columns={"Total":"Instability_Num"})

In [129]:
# getting text files for 2018
################ This has 10 extra columns on financials #########################################
pd.set_option('display.max_columns', None)
path = "C:\\Users\\Ian\\Desktop\\Global Risk Modeling\\WFB Arch\\2018"
txt_files_2018 = glob.glob(os.path.join(path, "*.txt"))
tem_2018 = tem

# loop over the list of csv files
for f in txt_files_2018:
    test = pd.read_table(f)
    for i in test:
        test[i] = test[i].str.lstrip(digits) # gets rid of rank
        test["name"] = test[i].str[:50].str.strip()     # creates name 
        test[test.columns[0]] = test[i].str[50:]
    tem_2018 = pd.merge(tem_2018,test, on = "name", how = "outer")
tem_2018 = tem_2018.iloc[:200,:] 




# Remove letters
att=tem_2018.iloc[:,1:]
for (name, data) in att.iteritems():
    att[name] = data.str.strip('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz .$')   
tem_2018.iloc[:,1:] = att

# Remove dates [:,5:52]
att=tem_2018.iloc[:,1:52]
for (name, data) in att.iteritems():
    att[name] = data.str[:-5]
    att[name] = data.str.strip('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz .')
tem_2018.iloc[:,1:52] = att

# Remove dates [:,17:23]
att=tem_2018.iloc[:,17:22]
for (name, data) in att.iteritems():
    att[name] = data.str[:-2]   
tem_2018.iloc[:,17:22] = att

# "Country Comparison :: Market value of publicly traded shares"
tem_2018.iloc[1:,22] = tem_2018.iloc[1:,22].str[:-3]

# Remove dates [:,26:30]
att=tem_2018.iloc[:,26:30]
for (name, data) in att.iteritems():
    att[name] = data.str[:-5]   
tem_2018.iloc[:,26:30] = att

# 42 : "Country Comparison :: Crude oil - proved reserves"
tem_2018["Country Comparison :: Crude oil - proved reserves"] = tem_2018["Country Comparison :: Crude oil - proved reserves"].str[:-1]

# 51 : "Country Comparison :: Natural gas - proved reserves"
tem_2018["Country Comparison :: Natural gas - proved reserves"] = tem_2018["Country Comparison :: Natural gas - proved reserves"].str[:-1]

# 52 : Country Comparison :: Carbon dioxide emissions from consumption of energy
tem_2018["Country Comparison :: Carbon dioxide emissions from consumption of energy"] = tem_2018["Country Comparison :: Carbon dioxide emissions from consumption of energy"].str[:-4]

#53
tem_2018.iloc[1,53] = tem_2018.iloc[1,53][:-4]

# 55
# Remove dates [:,55]
att=tem_2018.iloc[:,54:56]
for (name, data) in att.iteritems():
    att[name] = data.str[:-5]
    att[name] = data.str.strip('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz .')
tem_2018.iloc[:,54:56] = att

# 57
# Remove dates [:,57]
att=tem_2018.iloc[:,57:]
for (name, data) in att.iteritems():
    att[name] = data.str[:-5]
    att[name] = data.str.strip('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz .')
tem_2018.iloc[:,57:] = att


tem_2018.rename(columns= {"Country Comparison :: GDP - real growth rate":"Country Comparison :: GDP real growth rate"}, inplace = True)
tem_2018


#pop as float
tem_2018["Country Comparison :: Population"] = tem_2018["Country Comparison :: Population"].replace( '[\$,)]','', regex=True ).replace( '[(]','-',   regex=True ).astype(float)

# labor as float Country Comparison :: Labor force
tem_2018["Country Comparison :: Labor force"] = tem_2018["Country Comparison :: Labor force"].replace( '[\$,)]','', regex=True ).replace( '[(]','-',   regex=True ).astype(float)

# as float Country Comparison :: GDP - per capita (PPP)
tem_2018["Country Comparison :: GDP - per capita (PPP)"] = tem_2018["Country Comparison :: GDP - per capita (PPP)"].replace( '[\$,)]','', regex=True ).replace( '[(]','-',   regex=True ).astype(float)



# fragility index 2018
frag_2018 = pd.read_csv("C:\\Users\\Ian\\Desktop\\Global Risk Modeling\\fsi-2018.csv") #,encoding = 'latin1'
frag_2018 = frag_2018[["Country","Year","Total"]]
frag_2018 = frag_2018.iloc[0:200,:]
frag_2018 = frag_2018.dropna()
frag_2018 = pd.DataFrame(frag_2018)
frag_2018 = frag_2018.rename(columns={"Country":"name"})

#Merger
df_2018 = pd.merge(frag_2018,tem_2018,on=["name"], how='inner')

df_2018 = df_2018.rename(columns={"Total":"Instability_Num"})

In [130]:
# concatinating the different years

frames = [df_2020, df_2019, df_2018]
df = pd.concat(frames, keys=['2020', '2019', '2018'])

df = df.rename(columns={"name":"Country"})

#df_G = df[["Country","Country Comparison :: Distribution of family income - Gini index"]]

df = df.loc[:, ~df.columns.isin(['Country Comparison :: Health expenditures', 
                                 'Country Comparison :: Stock of direct foreign investment - abroad', 
                                 "Country Comparison :: Stock of direct foreign investment - at home",
                                 "Country Comparison :: Market value of publicly traded shares", 
                                 "Country Comparison :: Stock of domestic credit",
                                "Country Comparison :: Stock of broad money",
                                "Country Comparison :: Stock of narrow money",
                                "Country Comparison :: Commercial bank prime lending rate",
                                "Country Comparison :: Central bank discount rate",
                                "Country Comparison :: Distribution of family income - Gini index"])]

# Fixing waterways 
df["Country Comparison :: Waterways"].fillna(value = 0, inplace = True)

#Fixing rail roads
df["Country Comparison :: Railways"].fillna(value = 0, inplace = True)

#Fixing Merchant Marine
df["Country Comparison :: Merchant marine"].fillna(value = 0, inplace = True)

# Fixing Oil
df["Country Comparison :: Crude oil - proved reserves"] = df["Country Comparison :: Crude oil - proved reserves"].str[:-2]

# Filling Roads
df["Country Comparison :: Roadways"].fillna(value = 0, inplace = True)

# Uggly fix for samoa and Somalia
df["Country Comparison :: Gross national saving"].fillna(value = 0, inplace = True)

# Country Comparison :: Natural gas - proved reserves
df["Country Comparison :: Natural gas - proved reserves"].fillna(value = 0, inplace = True)


df= df.drop(["Country Comparison :: Children under the age of 5 years underweight", 
             "Country Comparison :: Education expenditures", "Country Comparison :: Unemployment, youth ages 15-24",
            "Country Comparison :: HIV/AIDS - deaths", "Country Comparison :: Military expenditures"], axis=1)

# Cleaning hold out dates
df.iloc[222,5:6] = df.iloc[222,5:6].str[:-5]
df.iloc[158,6:7] = df.iloc[158,6:7].str[:-5]

df.iloc[31,43]  = 0
df.iloc[69,43]  = 0
df.iloc[93,43]  = 0
df.iloc[103,43]  = 0
df.iloc[122,43]  = 0
df.iloc[126,43]  = 0
df.iloc[125,43]  = 0
df.iloc[131,43]  = 0
df.iloc[189,43]  = 0
df.iloc[219,43]  = 0
df.iloc[246,43]  = 0
df.iloc[259,43]  = 0
df.iloc[279,43]  = 0
df.iloc[284,43]  = 0
df.iloc[279,43]  = 0
df.iloc[275,43]  = 0
df.iloc[343,43]  = 0
df.iloc[373,43]  = 0
df.iloc[402,43]  = 0
df.iloc[417,43]  = 0
df.iloc[433,43]  = 0
df.iloc[430,43]  = 0
df.iloc[439,43]  = 0
df.iloc[0,47:48] = df.iloc[0,47:48].str[:-5]

#not run
# making floats
# this works
att=df.iloc[:,3:7]
for (name, data) in att.iteritems():
    att[name] = data.str.strip('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz .')
    att[name]= (data.replace( '[\$,)]','', regex=True ).astype(float))
df.iloc[:,3:7] = att

#
att=df.iloc[:154,20:22]
for (name, data) in att.iteritems():
    att[name]= (data.replace( '[\$,)]','', regex=True ).astype(float))
df.iloc[:154,20:22] = att

#
att=df.iloc[154:,17:25]
for (name, data) in att.iteritems():
    att[name]= (data.replace( '[\$,)]','', regex=True ).astype(float))
df.iloc[154:,17:25] = att

#
att=df.iloc[154:,31:34]
for (name, data) in att.iteritems():
    att[name]= (data.replace( '[\$,)]','', regex=True ).astype(float))
df.iloc[154:,31:34] = att

#
df.iloc[:154,34]=df.iloc[:154,34].replace( '[\$,)]','', regex=True ).astype(float)

#
att=df.iloc[154:,34:44]
for (name, data) in att.iteritems():
    att[name]= (data.replace( '[\$,)]','', regex=True ).astype(float))
df.iloc[154:,34:44] = att

# 
df["Country Comparison :: Area"]=df["Country Comparison :: Area"].replace( '[\$,)]','', regex=True ).astype(float)

df.iloc[164,54] = np.NaN
#
df.iloc[:319,54] = np.NaN
#
df.iloc[450:,60] = np.NaN
#
df.iloc[392,63] = np.NaN
#
att=df.iloc[:,44:]
for (name, data) in att.iteritems():
    att[name]= (data.replace( '[\$,)]','', regex=True ).astype(float))
df.iloc[:,44:] = att

############ 46 is already float
df["Country Comparison :: Railways"].fillna(value = 0, inplace = True)
df["Country Comparison :: Merchant marine"].fillna(value = 0, inplace = True)

df = df.drop(["Country Comparison :: Life expectancy at birth", "Country Comparison :: HIV/AIDS - people living with HIV/AIDS",
        "Country Comparison :: HIV/AIDS - adult prevalence rate"], axis = 1)

# make everything a float
att=df.iloc[:,3:]
for (name, data) in att.iteritems():
    att[name]= (data.replace( '[\$,)]','', regex=True ).astype(float))
df.iloc[:,3:] = att

# Drop NaN
df_1 = df.dropna()

df_2 = df_1

In [131]:
# Commodities (Wheat and Energy) : GDP per cap
# https://www.macrotrends.net/2534/wheat-prices-historical-chart-data
# Wheat 2022 	$9.5829
# Wheat 20212021 	$7.0402
# Oil 2022 	$96.02
# Oil 2021 	$68.17
# Gas 2022 	$6.53
# Gas 2021 	$3.89


#df_2["Wheat:GDPpc"] = []
#df_2["Oil:GDPpc"] = []
#df_2["NatGas:GDPpc"] = []

for r in df_2["Year"]:
    if r == 2020.0:
        df_2["Wheat:GDPpc"] = 5.4980/df_2["Country Comparison :: GDP - per capita (PPP)"]
        df_2["Oil:GDPpc"] = 39.68/df_2["Country Comparison :: GDP - per capita (PPP)"]
        df_2["NatGas:GDPpc"] = 2.03/df_2["Country Comparison :: GDP - per capita (PPP)"]
    elif r == 2019.0:
        df_2["Wheat:GDPpc"] = 4.9414/df_2["Country Comparison :: GDP - per capita (PPP)"]
        df_2["Oil:GDPpc"] = 56.99/df_2["Country Comparison :: GDP - per capita (PPP)"]
        df_2["NatGas:GDPpc"] = 2.56/df_2["Country Comparison :: GDP - per capita (PPP)"]
    elif r == 2018.0:
        df_2["Wheat:GDPpc"] = 4.9757/df_2["Country Comparison :: GDP - per capita (PPP)"]
        df_2["Oil:GDPpc"] = 65.23/df_2["Country Comparison :: GDP - per capita (PPP)"]
        df_2["NatGas:GDPpc"] = 3.15/df_2["Country Comparison :: GDP - per capita (PPP)"]

C:\Users\Ian\AppData\Local\Temp/ipykernel_23248/2183463114.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Wheat:GDPpc"] = 5.4980/df_2["Country Comparison :: GDP - per capita (PPP)"]
C:\Users\Ian\AppData\Local\Temp/ipykernel_23248/2183463114.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Oil:GDPpc"] = 39.68/df_2["Country Comparison :: GDP - per capita (PPP)"]
C:\Users\Ian\AppData\Local\Temp/ipykernel_23248/2183463114.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["NatGas:GDPpc"] = 2.03/df_2["Country Comparison :: GDP - per capita (PPP)"]
C:\Users\Ian\AppData\Local\Temp/ipykernel_23248/2183463114.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Wheat:GDPpc"] = 4.9414/df_2["Country Comparison :: GDP - per capita (PPP)"]
C:\Users\Ian\AppData\Local\Temp/ipykernel_23248/2183463114.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Oil:GDPpc"] = 56.99/df_2["Country Comparison :: GDP - per capita (PPP)"]
C:\Users\Ian\AppData\Local\Temp/ipykernel_23248/2183463114.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["NatGas:GDPpc"] = 2.56/df_2["Country Comparison :: GDP - per capita (PPP)"]
C:\Users\Ian\AppData\Local\Temp/ipykernel_23248/2183463114.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Wheat:GDPpc"] = 4.9757/df_2["Country Comparison :: GDP - per capita (PPP)"]
C:\Users\Ian\AppData\Local\Temp/ipykernel_23248/2183463114.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Oil:GDPpc"] = 65.23/df_2["Country Comparison :: GDP - per capita (PPP)"]
C:\Users\Ian\AppData\Local\Temp/ipykernel_23248/2183463114.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["NatGas:GDPpc"] = 3.15/df_2["Country Comparison :: GDP - per capita (PPP)"]

In [132]:
# Quintile (preforming better..)
result = []
for i in df_2["Instability_Num"]:
    if i >100:
        result.append(5)
    elif i>75:
         result.append(4)
    elif i>50:
         result.append(3)
    elif i>25:
         result.append(2)
    elif i>0:
         result.append(1)
df_2["Instability"] = result

C:\Users\Ian\AppData\Local\Temp/ipykernel_23248/1808068478.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Instability"] = result

In [1772]:
# Trying 3 categories 
# slightly higher accuracy
#result = []
#for i in df_2["Instability_Num"]:
#    if i >80:
#        result.append(3)
#    elif i>40:
#         result.append(2)
#    elif i>0:
#        result.append(1)

#df_2["Instability"] = result

C:\Users\Ian\AppData\Local\Temp/ipykernel_32664/3031239925.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Instability"] = result